html
  head
    title LoL Mastery Ranks - Champions
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/champions.css")
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript' src='js/jquery-tablesorter.min.js')
  body
    nav.navar.navbar-inverse
      div.container
        div.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href="/") Players
            li.active
              a(href="/champions") Champions
            li
              a(href="/about") About
            li
              a(href="https://github.com/huderlem/lol-mastery-rankings") GitHub
    div.container.box-shadow
      div.jumbotron.text-center
        h1 Top Champion Scores
        p.lead View the top mastery scores for each Champion!
        p (Note, a summoner must have been previously searched for its data to be considered.)
        select#champion-select.form-control
          option(value= -1) --- Choose Champion ---
          each champion, champ_id in champions
            option(value= champion.id)= champion.name
      div#summoner-ranks


  script(type='text/javascript' src='js/champions.js')
