html
  head
    title LoL Mastery Ranks
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/index.css")
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(type='text/javascript' src='js/jquery-tablesorter.min.js')
  body
    div.container
      div.jumbotron.text-center
        h1 LoL Mastery Ranks
        p.lead View a summoner's champion mastery rankings compared to other players!
        p (Note, a summoner must have been previously searched for its data to be considered.)
        form#summoner-lookup
          div.input-group
            span.input-group-btn
              button.btn.btn-primary(type="submit") Search
            input#summoner-input.form-control(type="text" autofocus="autofocus" placeholder="Summoner Name" name="summoner-name")
    div.container
      div#summoner-ranks


  script(type='text/javascript' src='js/index.js')
